.toggle-switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.dark .toggle-switch label {
  background-color: #ff5a1f;
}

.toggle-switch span {
  margin: 0.1rem;
}

.toggle-switch span:before {
  color: #f6e05e;
  content: "☀";
  display: flex;
  font-size: 2rem;
  transform: translateX(3.2rem) translateY(0.5rem);
}

.dark .toggle-switch span {
  transform: translateX(3rem);
}

.dark .toggle-switch span:before {
  color: #faf089;
  content: "☾";
  transform: translateX(-2.75rem) translateY(0.5rem);
}

@media (min-width: 1024px) {
  .toggle-switch span {
    margin: 0.14rem;
  }

  .toggle-switch span:before {
    font-size: 1.5rem;
    transform: translateX(1.9rem) translateY(0.08rem);
  }

  .dark .toggle-switch span {
    transform: translateX(2rem);
  }

  .dark .toggle-switch span:before {
    transform: translateX(-1.9rem) translateY(0.08rem);
  }
}
